@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html, body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #fffef8;
}

#app .navbar-light .navbar-nav .nav-link {
  color: #28ae93;
  padding-right: 50px;
}

#app .navbar-light .navbar-nav .nav-link:hover {
  color: #f49b4e;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#app .nav-style {
  font-size: 20px;
}

#app .icon-size {
  color: #28ae93;
  font-size: 35px;
}
